@media(min-width:768px)
{
    body{
        background-color: rgb(255, 253, 253);
    }
    .ty
    {
        display: flex;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    .ty input{
        margin-top: 10px;
        width: 50px;
    }
    #louie{
        margin-left: 50px !important;
    }
    .form_about
    {
        width: 91%;
    }
    .form_about h1
    {
        margin-left: 5%;
        margin-top: 2%;
        font-size: 30px;
    }
    .form_about h5
    {
        margin-top: 30px !important;
        margin-left: 5%;
        margin-top: 2%;
    }
    .form_step_text
    {
        margin-left: 5%;
        background-color: #fff !important;
    }
    .input_group_about input
    {
        border: 1px solid #d9d9d9;
        height: 45px;
        width: 80%;
        border-radius: 3px;
        margin-bottom: 10px;
    }
    .sec_right
    {
        padding-top: 10%;
    }
    .last_sec
    {
        margin-top: 5%;
        
    }
    /* .form_step_image
    {
        margin-left: 9%;
        padding: 5px 5px 0px 5px;
        margin-top: 6%;
    }
    .placed_image_about{

        display: block;
        width: 100%;
        border-radius: 0.25rem;
    } */
    
    .btn_submit_about
    {
        text-align: center;
        border: none;
        color: #fff;
        /* height: 50px;
        width: 190px; */
        font-size: 20px;
        background-color: rgb(14, 199, 14);
    }
    .btn-submit:hover
    {
        background-color: black;
        color: #fff;
    }
    /* .tesst
    {
        padding-top: 4%;
    } */
    label{
        margin-top: 5px;
        font-weight: bold;
    }
}