@media(min-width:768px)
{
    body{
        background-color: rgb(255, 253, 253);
    }
    .form_about
    {
        width: 91%;
    }
    .form_about h1
    {
        margin-left: 48%;
        margin-bottom: 3%;
        margin-top: 3%;
    }
    .form_step_text
    {
        margin-left: 9%;
        background-color: #fff !important;
        border: 1px solid rgb(190, 186, 186);
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
    }
    .input_group_about input
    {
        border: 1px solid gray;
        height: 40px;
    }
    .form_step_image
    {
        margin-left: 9%;
        padding: 5px 5px 0px 5px;
        margin-top: 6%;
        border: 1px solid rgb(190, 186, 186);
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
    }
    .placed_image_about{

        display: block;
        width: 100%;
        border-radius: 0.25rem;
    }
    .input_group_about_image
    {
        padding-bottom: 15px;
    }
    .ttt
    {
        text-align: center;
    }
    .btn_submit_about
    {
        margin-top: 40px;
        background-color: #F75E61;
        text-align: center;
        border: none;
        color: #fff;
        height: 50px;
        width: 190px;
        font-size: 20px;
    }
    .btn-submit:hover
    {
        background-color: black;
        color: #fff;
    }
    .tesst
    {
        padding-top: 10%;
    }
}