@media(min-width:768px){
    .bar_option
    {
        background-color: #FAFAFC;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }
    .bar_option h1
    {
        color: black;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        padding-top: 5px;
        margin-bottom: 4%;
    }
    .bar_option_couche
    {
        padding-left: 4%;
        /* text-align: center; */
    }
    .bar_option_couche_sections
    {
        height: 50px;
    }
    .test
    {
        color:#F75E61;
        font-size: 30px;
        font-weight: bold;
    }
    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }
    .input-group
    {
        padding: 10px !important;
    }
    .search_bar
    {
        width: 30%;
        height: 40px;
        border: 1px solid gray;
        margin-top: 5px;
    }
    .btn_option
    {
        border: none;
        width: 100%;
        height: 50px;
        background-color: transparent;
        text-align: left;
        font-size: 20px;
        color: black;
        padding-left: 10%;
    }
    .btn_option:hover
    {
        background-color: rgb(218, 198, 198);
    }
    .visited
    {
        background-color: rgb(218, 198, 198);
    }
    .bar_notif_admin2
    {
        justify-content: right;
    }
    .bar_notif_admin2 button{
        border: none;
        width: 150px;
        background-color: #F75E61;
    }
    .bar_notif_admin2 button:not(:first-child){
        border-left: 1px solid black !important;
    }
    .bar_notif_admin2 button:hover{
        background-color: #fff;
        color: black;
    }
    .message-notif:hover{
        background-color: #fff !important;
    }
    .btn
    {
        color:#F75E61 !important;
        height: 38px !important;
        border-radius: 0px 3px 3px 0px;
        border-top:1px solid #cfd2d4;
        border-bottom:1px solid #cfd2d4;
        border-right:1px solid #cfd2d4;
        border-left:none;
        color: black !important;
    }
    .btn:hover
    {
        background-color: #F75E61;
        color: #fff !important;
        border-top:1px solid #cfd2d4;
        border-bottom:1px solid #cfd2d4;
        border-right:1px solid #cfd2d4;
    }
    .form-control
    {
        border-radius: 3px 0px 0px 3px !important;
        border: none !important;
    }
    .form-control:hover
    {
        border: none !important;
    }
    .image_test
    {
        background-color: #fff !important;
        height: 30px;
        width: 30px;
    }
    .search_div
    {
        display: flex;
        background-color: #fff;
    }
    .search-btn
    {
        background-color: #fff !important;
        border: none;
        opacity: 50%;
    }
    .search_div
    {
        width: 100%;
        margin-bottom: 20px;
    }
    .btn_option_logout{
        position: absolute;
        bottom: 4px;
        background-color: #F75E61;
        color: #fff;
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 10px;
    }
    .btn_option_logout:hover{
        background-color: black;
        color: #fff;
    }
}